/*
Theme Name: Niko Solar
Theme URI: http://nikosolar.com.br/
Author: Adict
Author URI: https://adict.com.br/
Description: Um tema padrão desenvolvido por Adict
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: nikosolar
*/

#wp-a11y-speak-polite,
#wp-a11y-speak-assertive {
	width: 0px;
	height: 0px;
}

@font-face {
	src: url('fonts/OpenSans-Bold.ttf');
	font-family: OpenSansBold;
}
@font-face {
	src: url('fonts/OpenSans-Regular.ttf');
	font-family: OpenSans;
}
@font-face {
	src: url('fonts/OpenSans-Light.ttf');
	font-family: OpenSansLight;
}

html, body {
	padding: 0px;
	margin: 0px;
	font-family: OpenSans;
	font-size: 14px;
	color: #4c4c4c;
}

h1, h2, h3, h4, h5, h6 {
	font-family: OpenSansBold;
}

.container {
	max-width: 1200px;
}

/* ===================================================================================================================================== */
/* ===================================================================================================================================== */
/* ===================================================================================================================================== */
/* =========================================================== TODAS PAGINAS =========================================================== */
/* ===================================================================================================================================== */
/* ===================================================================================================================================== */
/* ===================================================================================================================================== */

.breadcrumbs * {
	color: #3e3e3e;
	font-size: 13px;
}

.estilo-texto {
	color: #262626;
	font-size: 16px;
}

.nopadding {
	padding: 0px;
}

.cor-azul {
	color: #00447d;
}
.cor-preto {
	color: #000000;
}
.cor-branco {
	color: white;
}
.cor-preto-titulo {
	color: #262626;
}

.cf-pagina {
	padding-top: 10px;
	padding-bottom: 10px;
}
.cf-pagina .c-pagina .titulo-inicio-pagina,
.cf-pagina .c-pagina .titulo-secundario-pagina {
	text-transform: uppercase;
	color: #00447d;
	margin-bottom: 0px;
}
.cf-pagina .c-pagina .coluna-titulo-secundario-pagina {
	margin-top: 25px;
}
.cf-pagina .c-pagina .separador-inicio-pagina span {
	display: block;
	width: 100%;
	height: 1px;
	background-color: #a9a9a9;
	margin-top: 10px;
	margin-bottom: 20px;
}
.cf-pagina .c-pagina .separador-secundario-pagina span {
	display: block;
	width: 100%;
	height: 1px;
	background-color: #a9a9a9;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* ================================================================================================================================= */
/* ================================================================================================================================= */
/* ================================================================================================================================= */
/* =========================================================== CABECALHO =========================================================== */
/* ================================================================================================================================= */
/* ================================================================================================================================= */
/* ================================================================================================================================= */

.cf-cabecalho {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
	z-index: 2;
	position: relative;
}
/* === BUSCA === */
.cf-cabecalho .c-cabecalho .r-cabecalho {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho-busca-interno {
	width: 100%;
}


.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho-carrinho {
	position: unset;
}
.produtos-carrinho {
	position: absolute;
	background-color: #00447D;
	color: white;
	padding: 10px;
	width: auto;
	right: 15px;
	top: 85px;
	z-index: 999;
	border-radius: 5px;
	/*overflow: hidden;*/
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.col-cabecalho-carrinho:hover .produtos-carrinho {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.produtos-carrinho:after {
	content: '';
	position: absolute;
	top: -10px;
	right: 90px;
	width: 15px;
	height: 15px;
	border-bottom: 15px solid #00447D;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
}
.produtos-carrinho .produto-carrinho {
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 5px;
}
.produtos-carrinho .produto-carrinho:last-child {
	margin-bottom: 0px;
}
.produtos-carrinho .produto-carrinho .produto-carrinho-interno {
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 5px;
	background-color: rgba(0, 88, 145, 1);
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.produtos-carrinho .produto-carrinho:hover .produto-carrinho-interno {
	background-color: rgba(0, 108, 165, 1);
}
.produtos-carrinho .produto-carrinho .produto-carrinho-interno .remover {
	margin: 0px 5px;
	width: 3%;
}
.produtos-carrinho .produto-carrinho .produto-carrinho-interno .remover a {
    padding: 8px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 100%;
    color: white !important;
    line-height: 0px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 16px !important;
}
.produtos-carrinho .produto-carrinho .produto-carrinho-interno .informacoes {
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 5px;
	width: 97%;
}
.produtos-carrinho .produto-carrinho .produto-carrinho-interno .informacoes .imagem {
	margin-right: 10px;
	min-width: 50px;
	width: 50px;
	max-width: 50px;
	height: 50px;
	background-color: white;
}
.produtos-carrinho .produto-carrinho .produto-carrinho-interno .informacoes .imagem img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.produtos-carrinho .produto-carrinho .produto-carrinho-interno .informacoes .dados {
	width: 100%;
}
.produtos-carrinho .produto-carrinho .produto-carrinho-interno .informacoes .dados .nome a {
	text-decoration: none;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	max-width: 350px;
}
.produtos-carrinho .produto-carrinho .produto-carrinho-interno .informacoes .dados .valores {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.produtos-carrinho .produto-carrinho .produto-carrinho-interno .informacoes .dados .valores .separador {
	margin: 0px 5px;
}
.produtos-carrinho .opcoes-carrinho a.ir-ao-carrinho {
	color: white;
	border: 1px solid white;
	padding: 5px 10px;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.produtos-carrinho .opcoes-carrinho a.ir-ao-carrinho:hover {
	color: #00447D;
	background-color: white;
	font-weight: bold;
}


.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho-busca form.formBusca input.txtBusca {
	width: 88%;
	height: 35px;
	border-radius: 0px;
	background-color: #ecedef;
}
.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho-busca form.formBusca button.btnBuscar {
	width: 12%;
	height: 35px;
	background-color: #808080;
	border-radius: 0px;
}
.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho-busca form.formBusca button.btnBuscar img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
@media (max-width: 992px) {
	.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho {
		justify-content: center;
		margin-bottom: 20px;
	}
	.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho-login,
	.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho-carrinho {
		width: 50%;
		padding: 0px;
	}
}

/* === LOGIN E CARRINHO === */
.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho .col-cabecalho-interno .icone img {
	width: auto;
	height: 25px;
}
.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho .col-cabecalho-interno {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho .col-cabecalho-interno .conteudo {
	padding-left: 10px;
}
.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho .col-cabecalho-interno .conteudo p {
	margin-bottom: 0px;
	line-height: 15px;
}
.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho .col-cabecalho-interno .conteudo p.titulo {
	font-family: OpenSansBold;
}
.cf-cabecalho .c-cabecalho .r-cabecalho .col-cabecalho .col-cabecalho-interno .conteudo p a {
	color: inherit;
}

/* === MENU === */
.cf-menu {
	background-color: #cccccc;
	z-index: 1;
}
.cf-menu .c-menu .r-menu .col-botao-menu button.btn-collapse {
	border-radius: 0px;
	margin: 20px 0px;
	height: 50px;
	background-color: #00447d;
	border-color: #00447d;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.cf-menu .c-menu .r-menu .col-menu ul.menu {
	padding: 0px;
	list-style: none;
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*justify-content: left;*/
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu {
	display: inline-block;
	position: relative;
	margin: 0px 10px;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu:first-child {
	margin-left: 0px;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu:last-child {
	margin-right: 0px;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias {
	height: 0;
	padding: 0px;
	list-style: none;
	position: absolute;
	top: 40px;
	left: 0;
	margin: auto;
	z-index: 10;
	-webkit-transition: all .02s;
	-moz-transition: all .02s;
	-ms-transition: all .02s;
	-o-transition: all .02s;
	transition: all .02s;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias {
	/*height: auto;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);*/
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu:hover ul.categorias {
	height: auto;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias li.categoria-item {
	position: relative;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias li.categoria-item a {
	background-color: #4d4d4d;
	color: white;
	white-space: nowrap;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	border-top: 1px solid #666666;
	font-weight: normal;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias li.categoria-item a:after {
	width: 0%;
	height: 100%;
	left: 0;
	margin: 0;
	background-color: #666666;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias li.categoria-item:hover a:after {
	width: 100%;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu a {
	display: block;
	padding: 10px 20px;
	color: #4c4c4c;
	text-decoration: none;
	font-weight: bold;
	position: relative;
	z-index: 1;
	font-size: 14px;
	text-align: center;
	-webkit-transition: all .02s;
	-moz-transition: all .02s;
	-ms-transition: all .02s;
	-o-transition: all .02s;
	transition: all .02s;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias li.categoria-item ul.subcategorias {
	width: auto;
	padding: 0px;
	margin: auto;
	list-style: none;
	position: absolute;
	z-index: 20;
	top: 0;
	right: auto;
	left: 100%;
	-webkit-transition: all .02s;
	-moz-transition: all .02s;
	-ms-transition: all .02s;
	-o-transition: all .02s;
	transition: all .02s;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias li.categoria-item ul.subcategorias li.subcategoria-item {
	position: relative;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias li.categoria-item:hover > ul.subcategorias,
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias li.categoria-item ul.subcategorias li.subcategoria-item:hover > ul.subcategorias {
	/*display: table;*/
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias li.categoria-item ul.subcategorias li.subcategoria-item a {
	/*white-space: inherit;*/
	background-color: #666666;
	text-align: left;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias li.categoria-item ul.subcategorias li.subcategoria-item:hover a:after {
	background-color: rgb(122,122,122);
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu a:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0%;
	background-color: #00447d;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: -1;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	-o-transition: all .15s;
	transition: all .15s;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu:hover a,
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu.ativo a {
	color: white;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu:hover a:after,
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu.ativo a:after {
	width: 100%;
	height: 100%;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu a.item-menu-categorias {
	background-color: #00447d;
	color: white;
	padding-right: 40px;
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu a.item-menu-categorias:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	top: 0;
	bottom: 5px;
	right: 15px;
	margin: auto;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu:hover a.item-menu-categorias:before {
	bottom: -7px;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}


@media (max-width: 992px) {
	.cf-menu .c-menu .r-menu .col-menu.show {
		padding-bottom: 20px;
	}
	.cf-menu .c-menu .r-menu .col-menu ul.menu {
		flex-direction: column;
		overflow: hidden;
		padding: 20px;
		padding-top: 0px;
	}
	.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu {
		width: 100%;
		margin-bottom: 10px;
	}
	.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu a.item-menu-categorias {
		padding-right: 20px;
	}
	.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias {
		height: auto;
		position: relative;
		top: 0;
		width: 100%;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias li.categoria-item ul.subcategorias {
		position: relative;
		left: 0px;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	.cf-menu .c-menu .r-menu .col-menu ul.menu li.item-menu ul.categorias li.categoria-item ul.subcategorias li.subcategoria-item a {
		padding-left: 40px;
	}
}

.cf-menu .c-menu .r-menu .col-redes-sociais {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (max-width: 992px) {
	.cf-menu .c-menu .r-menu .col-redes-sociais {
		padding-bottom: 15px;
	}
}
.cf-menu .c-menu .r-menu .col-redes-sociais .rede-social {
	margin-right: 10px;
}
.cf-menu .c-menu .r-menu .col-redes-sociais .rede-social .rede-social-interno img {
	width: auto;
	height: 20px;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.cf-menu .c-menu .r-menu .col-redes-sociais .rede-social:hover .rede-social-interno img {
	-webkit-transform: scale(1.2) rotate(5deg);
	-moz-transform: scale(1.2) rotate(5deg);
	-ms-transform: scale(1.2) rotate(5deg);
	-o-transform: scale(1.2) rotate(5deg);
	transform: scale(1.2) rotate(5deg);
}

/* ==================================================================================================================================== */
/* ==================================================================================================================================== */
/* ==================================================================================================================================== */
/* =========================================================== FALE CONOSCO =========================================================== */
/* ==================================================================================================================================== */
/* ==================================================================================================================================== */
/* ==================================================================================================================================== */

@media (min-width: 992px) {
	.formularios .cf-formularios .r-formularios .coluna-titulo-formulario {
		padding-right: 5px;
	}
	.formularios .cf-formularios .r-formularios .coluna-conteudo-formulario {
		padding-left: 0px;
	}
}
@media (max-width: 992px) {
	.formularios .cf-formularios .r-formularios .coluna-titulo-formulario {
		padding: 0px 15px;
		margin-bottom: 20px;
	}
	.formularios .cf-formularios .r-formularios .coluna-conteudo-formulario {
		padding: 0px 15px;
	}
}

/* === titulo === */
.formularios .cf-formularios .r-formularios .coluna-titulo-formulario .tab-formulario {
	background-color: #e6e6e6;
	color: #262626;
	border-radius: 0px;
	margin-bottom: 5px;
}
.formularios .cf-formularios .r-formularios .coluna-titulo-formulario .tab-formulario:last-child {
	margin-bottom: 0px;
}
.formularios .cf-formularios .r-formularios .coluna-titulo-formulario .tab-formulario.active {
	background-color: #f2cc34;
	position: relative;
}
@media (min-width: 992px) {
	.formularios .cf-formularios .r-formularios .coluna-titulo-formulario .tab-formulario.active:after {
		content: '';
		width: 20px;
		height: 100%;
		position: absolute;
		background-color: #f2cc34;
		top: 0;
		right: -10px;
	}
}

/* === conteudo === */
.formularios .cf-formularios .r-formularios .coluna-conteudo-formulario .tab-content .tab-pane-formulario {
	background-color: #e6e6e6;
	padding: 10px;
}
.formularios .cf-formularios .r-formularios .coluna-conteudo-formulario .tab-content .tab-pane-formulario.active {
	background-color: #f2cc34;
}
.formularios .coluna-conteudo-formulario .descricao-formulario a {
	color: inherit;
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .form-group {
	margin-bottom: 5px;
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario {
	padding: 2px;
	border-color: #ac9125;
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario:first-child {
	padding-left: 0px;
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario:last-child {
	padding-right: 0px;
}
@media (max-width: 992px) {
	.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario {
		padding: 0px;
		padding-bottom: 5px;
		margin-bottom: 5px;
	}
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario span.separador-formulario {
	height: 1px;
	width: 100%;
	background-color: #ac9125;
	display: block;
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario.coluna-botao-enviar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario.coluna-botao-enviar input[type="submit"] {
	background-color: #4d4d4d;
	border: 0px;
	border-radius: 0px;
	padding: 10px 20px;
	font-weight: bold;
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario input[type="file"].form-control {
	height: auto;
	margin: 0;
	border: 0px;
	padding: 5px;
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario p.informacao {
	margin-bottom: 5px;
}
/* === range === */
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario.coluna-range p.informacao-consumo {
	color: #00447D;
	font-size: 20px;
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario.coluna-range input[type="range"].form-control {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 100px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-top: 20px;
	margin-bottom: 5px;
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario.coluna-range input[type="range"].form-control:hover {
	opacity: 1;
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario.coluna-range input[type="range"].form-control::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: #00447D;
	cursor: pointer;
	background-image: url('svg/raio-formulario.svg');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario.coluna-range input[type="range"].form-control::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: #00447D;
	cursor: pointer;
	background-image: url('svg/raio-formulario.svg');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario.coluna-range output {
	display: none;
}
.formularios .coluna-conteudo-formulario .formulario-container form.wpcf7-form .coluna-campo-formulario.coluna-range span.numero_total_kwh {
	font-size: 30px;
	font-family: OpenSansBold;
	color: #00447D;
}
/* === /range === */

.coluna-dados-contato {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.coluna-dados-contato .dados-contato {
	display: inline-block;
	vertical-align: middle;
	background-color: #e6e6e6;
	width: auto;
	height: 100%;
}
@media (max-width: 1111px) {
	.coluna-dados-contato .dados-contato {
		display: block;
		width: 50%;
		height: auto;
		margin: auto;
		margin-bottom: 10px;
	}
}
@media (max-width: 750px) {
	.coluna-dados-contato .dados-contato {
		width: 100%;
	}
}
.coluna-dados-contato .dados-contato .dados-contato-interno {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 5px 10px;
}
.coluna-dados-contato .dados-contato .icone,
.coluna-dados-contato .dados-contato .conteudo {
	display: inline-block;
}
.coluna-dados-contato .dados-contato .icone {
	margin-right: 10px;
}
.coluna-dados-contato .dados-contato .icone img {
	width: auto;
	height: 20px;
}
.coluna-dados-contato .dados-contato .conteudo * {
	margin-bottom: 0px;
	font-size: 16px;
}

/* ============================================================================================================================== */
/* ============================================================================================================================== */
/* ============================================================================================================================== */
/* =========================================================== INICIO =========================================================== */
/* ============================================================================================================================== */
/* ============================================================================================================================== */
/* ============================================================================================================================== */
.cf-inicio {
	padding-top: 0px;
}

/* === slider === */
.slider {
	position: relative;
}
.slider button.slick-arrow {
	position: absolute;
	z-index: 10;
	top: 40%;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 0px;
}
.slider button.slick-arrow:after {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	background-color: transparent;
	border-right: 8px solid rgba(0,0,0,0.5);
	border-bottom: 8px solid rgba(0,0,0,0.5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	-webkit-transition: .25s all;
	-moz-transition: .25s all;
	-ms-transition: .25s all;
	-o-transition: .25s all;
	transition: .25s all;
}
.slider button.slick-arrow:hover:after {
	width: 32px;
	height: 32px;
}
.slider button.slick-arrow.slick-prev {
	left: 15px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.slider button.slick-arrow.slick-next {
	right: 15px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.slider .slide .slide-interno a img {
	width: 100%;
	height: auto;
}
.slider ul.slick-dots {
	padding: 0px;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 10px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider ul.slick-dots li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
}
.slider ul.slick-dots li button {
	background-color: #a29fa4;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	font-size: 0px;
	border: 0px;
	outline: none;
	padding: 0px;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.slider ul.slick-dots li.slick-active button {
	background-color: #424242;
}
@media (min-width: 992px) {
	.slider .slide .slide-interno a img.imagem-desktop {
		display: block;
	}
	.slider .slide .slide-interno a img.imagem-mobile {
		display: none;
	}
}
@media (max-width: 992px) {
	.slider .slide .slide-interno a img.imagem-desktop {
		display: none;
	}
	.slider .slide .slide-interno a img.imagem-mobile {
		display: block;
	}
}
/* === /slider === */

/* === destaques home === */
.c-destaques-produtos {
	padding-top: 30px;
	padding-bottom: 15px;
}
@media (min-width: 992px) {
	.c-destaques-produtos .r-destaques-produtos .col-destaques-produtos {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.c-destaques-produtos .r-destaques-produtos .col-titulo-destaques-produtos .titulo {
	color: #00447d;
	border-bottom: 1px solid #a9a9a9;
	padding-bottom: 10px;
}
.c-destaques-produtos .r-destaques-produtos .col-todos-produtos span {
	border-bottom: 1px solid #a9a9a9;
	width: 100%;
	height: 15px;
	display: block;
}
.c-destaques-produtos .r-destaques-produtos .col-todos-produtos a {
	display: inline-block;
	background-color: #666666;
	color: white;
	padding: 10px 200px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.c-destaques-produtos .r-destaques-produtos .col-todos-produtos a:hover {
	background-color: #00447D;
}
/* === /destaques home === */

/* === blocos finais === */
.c-blocos-finais .r-blocos-finais .bloco-final .bloco-final-interno {
	overflow: hidden;
	position: relative;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.c-blocos-finais .r-blocos-finais .bloco-final .bloco-final-interno:hover {
	-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
}
.c-blocos-finais .r-blocos-finais .bloco-final .bloco-final-interno img {
	width: 100%;
	height: 280px;
	object-fit: cover;
	object-position: center;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.c-blocos-finais .r-blocos-finais .bloco-final .bloco-final-interno:hover img {
	-webkit-transform: scale(1.1) rotate(1.5deg);
	   -moz-transform: scale(1.1) rotate(1.5deg);
	    -ms-transform: scale(1.1) rotate(1.5deg);
	     -o-transform: scale(1.1) rotate(1.5deg);
	        transform: scale(1.1) rotate(1.5deg);
}
.c-blocos-finais .r-blocos-finais .bloco-final .bloco-final-interno .descricao {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}
.c-blocos-finais .r-blocos-finais .bloco-final .bloco-final-interno .descricao span {
	width: 100%;
	padding: 20px 0px;
	text-align: center;
	display: block;
	background-color: rgba(51, 51, 51, 0.9);
	color: white;
	font-size: 20px;
	font-weight: bold;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.c-blocos-finais .r-blocos-finais .bloco-final .bloco-final-interno:hover .descricao span {
	padding: 35px 0px;
	background-color: rgba(0, 68, 125, 0.9);
}
/* === /blocos finais === */

/* ======================================================================================================================================== */
/* ======================================================================================================================================== */
/* ======================================================================================================================================== */
/* =========================================================== SOLUCOES ENERGIA =========================================================== */
/* ======================================================================================================================================== */
/* ======================================================================================================================================== */
/* ======================================================================================================================================== */

.cf-solucoes-energia {
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	overflow-y: hidden;
}

.subtitulo .texto {
	font-family: OpenSans;
}

.r-itens-fundo {
	background-image: url(img/imagem-fundo-inicio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 600px;
}


.r-itens {
	width: 770px;
	height: 770px;
	position: absolute;
	top: -90px;
	background-color: white;
	border-radius: 100%;
	padding: 95px;
	padding-top: 240px;
	padding-bottom: 180px;
	right: 0;
	left: 0;
	margin: auto;
	-webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.25);
}
.r-itens span.botao-scroll-down {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 80px;
	right: 0;
	left: 0;
	margin: auto;
	border-right: 10px solid #d7d7d9;
	border-bottom: 10px solid #d7d7d9;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.r-itens .titulo-bola {
	font-size: 26px;
}
.r-itens img {
	width: auto;
	height: 80px;
}
.r-itens .descricao {
	margin-bottom: 20px;
	font-size: 14px;
}
.r-itens .item-pagina button {
	width: 100%;
	position: relative;
	outline: none;
	box-shadow: none;
}
.r-itens .item-pagina button:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 4px;
	width: 0%;
	z-index: 1;
	background-color: #00447d;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.r-itens .item-pagina button:hover:before {
	width: 100%;
}
.r-itens .item-pagina button:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 100%;
	background-color: #e3e4e6;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
@media (max-width: 992px) {
	.r-itens {
		padding: 100px;
		padding-top: 140px;
	}
	.r-itens .item-pagina button {
		margin-bottom: 10px;
		border: 1px solid #ccc;
		width: 100%;
		max-width: 450px;
	}
}
@media (max-width: 770px) {
	.r-itens-fundo {
		height: auto;
	}
	.r-itens {
		position: relative;
		width: 100%;
		top: 0;
		padding-top: 20px;
		height: auto;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
		border-radius: 0px;
		margin-top: 15px;
		margin-bottom: 15px;
		border-radius: 15px;
	}
	.r-itens span.botao-scroll-down {
		position: relative;
		bottom: 0;
	}
}


.r-residencial-comercial {
	background-color: #f2f2f2;
	padding-top: 110px;
	overflow: hidden;
}
.r-residencial-comercial .coluna-central:after {
	content: '';
	position: absolute;
	background-color: #F8A820;
	width: 3px;
	height: 100%;
	top: 90px;
	right: 0;
	left: 0;
	margin: auto;
}
.r-residencial-comercial .solucao-pagina {
	padding-bottom: 40px;
}
.r-residencial-comercial .solucao-pagina.solucao-pagina-residencial {
	text-align: right;
}
.r-residencial-comercial .solucao-pagina .topico-inicio * {
	color: #262626;
}
.r-residencial-comercial .solucao-pagina .topico-inicio .cor-azul {
	color: #00447d;
}
.r-residencial-comercial .solucao-pagina .topico {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.r-residencial-comercial .solucao-pagina .topico p:first-child {
	font-size: 16px;
	font-weight: bold;
}
.r-residencial-comercial .solucao-pagina .topico p {
	font-size: 14px;
	color: #262626;
}
.r-residencial-comercial .solucao-pagina.solucao-pagina-residencial .topico {
	flex-direction: row-reverse;
	margin-right: -70px;
}
.r-residencial-comercial .solucao-pagina.solucao-pagina-residencial .topico .icone {
	margin-left: 20px;
}
.r-residencial-comercial .solucao-pagina.solucao-pagina-comercial .topico {
	margin-left: -70px;
}
.r-residencial-comercial .solucao-pagina.solucao-pagina-comercial .topico .icone {
	margin-right: 20px;
}
.r-residencial-comercial .solucao-pagina .topico .descricao * {
	margin-bottom: 0px;
}


.r-quadro-amarelo {
	background-color: #F8A820;
	overflow: hidden;
}
.r-quadro-amarelo .bloco {
	flex: 0 0 20%;
	max-width: 20%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.r-quadro-amarelo .bloco .bloco-interno {
	position: relative;
}
.r-quadro-amarelo .bloco .bloco-interno:after {
	content: '';
	width: 2px;
	height: 100%;
	position: absolute;
	background-color: #B97D12;
	top: 0;
	right: -15px;
}
.r-quadro-amarelo .bloco:last-child .bloco-interno:after {
	display: none;
}
.r-quadro-amarelo .bloco .bloco-interno * {
	margin-bottom: 0px;
}
.r-quadro-amarelo .bloco .bloco-interno .conteudo * {
	color: #000000;
}
.r-quadro-amarelo .bloco .bloco-interno .icone img {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.r-quadro-amarelo .bloco:hover .bloco-interno .icone img {
	-webkit-transform: scale(1.1) translateY(-10px);
	-moz-transform: scale(1.1) translateY(-10px);
	-ms-transform: scale(1.1) translateY(-10px);
	-o-transform: scale(1.1) translateY(-10px);
	transform: scale(1.1) translateY(-10px);
}


.r-custo-aplicacao {
	padding-top: 70px;
	padding-bottom: 70px;
}
.r-custo-aplicacao .botao-calcule {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #b3b3b3;
	border-radius: 10px;
	max-width: 320px;
	margin-left: auto;
	overflow: hidden;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.r-custo-aplicacao .botao-calcule:hover {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.r-custo-aplicacao .botao-calcule * {
	margin-bottom: 0px;
	text-decoration: none;
	color: #333333;
}
.r-custo-aplicacao .botao-calcule .texto {
	width: 70%;
	height: 100%;
	text-align: right;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
}
.r-custo-aplicacao .botao-calcule .imagem {
	width: 30%;
	height: 100%;
	text-align: center;
	padding: 15px;
	background-color: #404040;
}
.r-custo-aplicacao .coluna-itens-custo {
	margin-top: 30px;
}
.r-custo-aplicacao .coluna-itens-custo .bloco-custo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	border-bottom: 2px solid #b3b3b3;
	padding-bottom: 20px;
}
.r-custo-aplicacao .coluna-itens-custo .bloco-custo:last-child {
	border-bottom: 0px;
}
.r-custo-aplicacao .coluna-itens-custo .bloco-custo * {
	margin-bottom: 0px;
}
.r-custo-aplicacao .coluna-itens-custo .bloco-custo .icone {
	margin-right: 10px;
}
.r-custo-aplicacao .coluna-itens-custo .bloco-custo .conteudo {
	color: #262626;
}
.r-custo-aplicacao .coluna-itens-custo .bloco-custo .conteudo .titulo {
	font-size: 16px;
	font-weight: bold;
}


.r-depoimentos {
	background-image: url(img/fundo-depoimentos.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	color: white;
	overflow: hidden;
	position: relative;
}
.r-depoimentos .col-depoimentos {
	background-color: rgba(0, 68, 125, 0.9);
	height: 1000px;
	max-width: 1000px;
	border-radius: 100%;
	position: absolute;
	overflow: hidden;
	flex-direction: column;
}
.r-depoimentos .col-depoimentos .titulo-depoimentos {
	margin-bottom: 30px;
	position: relative;
}
.r-depoimentos .col-depoimentos .titulo-depoimentos:after {
	content: '';
	position: absolute;
	bottom: -11px;
	right: 0;
	left: 0;
	margin: auto;
	background-color: white;
	width: 61px;
	height: 4px;
}
.r-depoimentos .col-depoimentos .depoimentos {
	width: 100%;
	max-width: 800px;
	position: relative;
}
.r-depoimentos .col-depoimentos .depoimentos button.slick-arrow {
	position: absolute;
	z-index: 2;
	font-size: 0px;
	width: 25px;
	height: 25px;
	padding: 0px;
	background-color: transparent;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 7px solid white;
	border-radius: 5px;
	outline: none !important;
}
.r-depoimentos .col-depoimentos .depoimentos button.slick-arrow.slick-prev {
	border-top: 0;
	border-right: 0;
	left: -40px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.r-depoimentos .col-depoimentos .depoimentos button.slick-arrow.slick-next {
	border-top: 0;
	border-left: 0;
	right: -40px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.r-depoimentos .col-depoimentos .depoimentos .depoimento .descricao {
	font-size: 25px;
	font-family: OpenSansLight;
}
.r-depoimentos .col-depoimentos .depoimentos .depoimento .autor {
	font-size: 18px;
	font-family: OpenSansLight;
}


.r-outras-aplicacoes {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #f2f2f2;
}
.r-outras-aplicacoes .bloco-inicio {
	margin-bottom: 20px;
}
.r-outras-aplicacoes .bloco-aplicacao {
	margin-bottom: 20px;
}
.r-outras-aplicacoes .bloco-aplicacao .bloco-aplicacao-interno {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #b3b3b3;
	position: relative;
}
.r-outras-aplicacoes .bloco-aplicacao .bloco-aplicacao-interno .imagem img {
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	transform: scale(1.03);
}
.r-outras-aplicacoes .bloco-aplicacao .bloco-aplicacao-interno .descricao {
	padding: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.r-outras-aplicacoes .bloco-aplicacao .bloco-aplicacao-interno .descricao .titulo {
	font-weight: bold;
	font-size: 18px;
}


.r-parceiro {
	background-image: url(img/fundo-parceiro-solucoes.jpg);
	background-repeat: no-repeat;
	background-position: center right -70px;
	background-size: 50% 100%;
}
.r-parceiro .coluna-texto {
	padding-top: 70px;
	padding-bottom: 70px;
	position: relative;
	z-index: 2;
}
.r-parceiro .coluna-borda {
	position: relative;
}
.r-parceiro .coluna-borda:after {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: -20px;
	height: 100%;
	width: 200px;
	background-image: url(img/borda-fundo-parceiro.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center left -5px;
}
.r-parceiro .vantagens {
	margin-top: 20px;
}
.r-parceiro .vantagens p.titulo-vantagens {
	font-weight: bold;
	font-size: 18px;
	border-bottom: 2px solid #b3b3b3;
	padding-bottom: 5px;
}
.r-parceiro .vantagens .vantagem {
	margin-bottom: 20px;
}
.r-parceiro .vantagens .vantagem p {
	margin-bottom: 0px;
}
.r-parceiro .vantagens .vantagem p.titulo-vantagem {
	font-size: 16px;
	font-weight: bold;
}
.r-parceiro .botao-parceiro a {
	display: block;
	padding: 15px;
	font-size: 20px;
	border: 2px solid #404040;
	text-align: center;
	color: #404040;
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.r-parceiro .botao-parceiro a:hover {
	color: white;
	background-color: #404040;
}


.r-faq {
	background-color: #404040;
	color: white;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: 20px;
}
.r-faq .titulo {
	margin-bottom: 20px;
}
.r-faq .titulo * {
	margin-bottom: 0px;
}
.r-faq .descricao {
	width: 100%;
	max-width: 450px;
	margin: auto;
	margin-bottom: 20px;
}
.r-faq .botoes a {
	display: inline-block;
	width: 200px;
	border: 2px solid white;
	padding: 10px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	margin-right: 20px;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.r-faq .botoes a:hover {
	background-color: white;
	color: #404040;
	font-weight: bold;
}
.r-faq .botoes a:last-child {
	margin-right: 0px;
}
@media (max-width: 500px) {
	.r-faq .botoes a {
		display: block;
		margin: auto !important;
		margin-bottom: 20px !important;
	}
}

/* =========================================================================================================================== */
/* =========================================================================================================================== */
/* =========================================================================================================================== */
/* =========================================================== FAQ =========================================================== */
/* =========================================================================================================================== */
/* =========================================================================================================================== */
/* =========================================================================================================================== */
.cf-faq .col-perguntas-respostas .bloco-pergunta-resposta {
	border-radius: 0px;
}
.cf-faq .col-perguntas-respostas .bloco-pergunta-resposta .pergunta {
	padding: 0px;
}
.cf-faq .col-perguntas-respostas .bloco-pergunta-resposta .pergunta button.botao {
	width: 100%;
	box-shadow: none !important;
	outline: none !important;
	padding: 10px;
	text-align: left;
	font-weight: bold;
	color: #00447D;
	position: relative;
}
.cf-faq .col-perguntas-respostas .bloco-pergunta-resposta .pergunta button.botao:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 20px;
	margin: auto;
	width: 10px;
	height: 10px;
	border: 3px solid #00447D;
	border-top: 0px;
	border-left: 0px;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.cf-faq .col-perguntas-respostas .bloco-pergunta-resposta .pergunta button.botao[aria-expanded="false"]:after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cf-faq .col-perguntas-respostas .bloco-pergunta-resposta .pergunta button.botao[aria-expanded="true"]:after {
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}
.cf-faq .col-perguntas-respostas .bloco-pergunta-resposta .resposta .card-body {
	padding: 10px;
}
.cf-faq .col-perguntas-respostas .bloco-pergunta-resposta .resposta * {
	margin-bottom: 0px !important;
}

/* ================================================================================================================================ */
/* ================================================================================================================================ */
/* ================================================================================================================================ */
/* =========================================================== NOTICIAS =========================================================== */
/* ================================================================================================================================ */
/* ================================================================================================================================ */
/* ================================================================================================================================ */

/* === archive === */
.c-noticias-archive .bloco-noticia {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.c-noticias-archive .bloco-noticia .titulo a {
	text-decoration: none;
}
.c-noticias-archive .bloco-noticia .titulo a .texto {
	margin-bottom: 0px;
	color: #333333;
	font-family: OpenSansBold;
	font-size: 22px;
}
.c-noticias-archive .bloco-noticia .categorias {
	margin-bottom: 10px;
}
.c-noticias-archive .bloco-noticia .categorias a {
	color: #666666;
}
.c-noticias-archive .bloco-noticia .imagem {
	margin-bottom: 10px;
}
.c-noticias-archive .bloco-noticia .imagem img {
	width: 100%;
	height: auto;
}
.c-noticias-archive .bloco-noticia .resumo,
.c-noticias-archive .bloco-noticia .resumo * {
	color: #484848;
	font-size: 16px;
	text-align: justify;
}
.c-noticias-archive .bloco-noticia .resumo {
	margin-bottom: 10px;
}
.c-noticias-archive .bloco-noticia .resumo * {
	margin-bottom: 0px;
}
.c-noticias-archive .bloco-noticia .continuar-lendo a {
	text-decoration: none;
	font-family: OpenSansBold;
	color: #305078;
	font-size: 18px;
	padding-right: 15px;
	position: relative;
}
.c-noticias-archive .bloco-noticia .continuar-lendo a:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 10px;
	height: 10px;
	border: 3px solid #305078;
	border-top: 0px;
	border-left: 0px;
	transform: rotate(-45deg);
}

/* === single === */
.c-interna-noticia .imagem-destacada,
.c-interna-noticia .imagem-destacada,
.c-interna-noticia .compartilhar {
	margin-bottom: 40px;
}
.c-interna-noticia .compartilhar {
	margin-bottom: 20px;
}

/* === sidebar === */
.barra-lateral-noticias {
	
}
.barra-lateral-noticias .bloco-barra-lateral {
	margin-bottom: 30px;
}
.barra-lateral-noticias .bloco-barra-lateral .titulo .texto {
	background-color: #0E4F7A;
	color: white;
	padding: 10px;
}

.barra-lateral-noticias .bloco-barra-lateral .slider-produtos {
	padding: 0px 50px;
}
.barra-lateral-noticias .bloco-barra-lateral .slider-produtos button.slick-arrow {
	background-color: transparent;
	border: 0px solid black;
	outline: none;
	box-shadow: none;
	font-size: 0px;
	width: 50px;
	height: 50px;
	padding: 0px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 999;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.barra-lateral-noticias .bloco-barra-lateral .slider-produtos button.slick-arrow.slick-disabled {
	opacity: 0.5;
}
.barra-lateral-noticias .bloco-barra-lateral .slider-produtos button.slick-arrow.slick-prev {
	left: -45px;
	background-image: url(img/arrow-prev-slider-noticias.png);
}
.barra-lateral-noticias .bloco-barra-lateral .slider-produtos button.slick-arrow.slick-next {
	right: -45px;
	background-image: url(img/arrow-next-slider-noticias.png);
}
.barra-lateral-noticias .bloco-barra-lateral .slider-produtos .woocommerce ul.products li,
.barra-lateral-noticias .bloco-barra-lateral .slider-produtos .woocommerce-page ul.products li {
	margin-bottom: 0px !important;
}
.barra-lateral-noticias .bloco-barra-lateral .slider-produtos .woocommerce ul.products li.first,
.barra-lateral-noticias .bloco-barra-lateral .slider-produtos .woocommerce-page ul.products li.first {
	clear: none;
}
.barra-lateral-noticias .bloco-barra-lateral .botao-ir-pra-loja a {
	display: block;
	background-color: #f2cc34;
	width: 90%;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	font-family: OpenSansBold;
	color: #262626;
	font-size: 18px;
}

.barra-lateral-noticias .bloco-barra-lateral .categorias .categoria p.texto a {
	color: #484848;
	font-family: OpenSansBold;
	font-size: 18px;
	padding: 0px 10px;
	border-bottom: 1px solid #b3b3b3;
	display: block;
	text-decoration: none;
}
.barra-lateral-noticias .bloco-barra-lateral .categorias .categoria:last-child p.texto a {
	border-bottom: 0px;
}
.barra-lateral-noticias .bloco-barra-lateral .noticias-mais-vistas ul {
	padding: 0px;
}
.barra-lateral-noticias .bloco-barra-lateral .noticias-mais-vistas ul li {
	display: flex;
	align-items: flex-start;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ededed;
}

.barra-lateral-noticias .bloco-barra-lateral .noticias-mais-vistas ul li:last-child {
	border-bottom: 0px;
}
.barra-lateral-noticias .bloco-barra-lateral .noticias-mais-vistas ul li .imagem {
	margin-right: 10px;
}
.barra-lateral-noticias .bloco-barra-lateral .noticias-mais-vistas ul li .informacoes .titulo a {
	font-size: 16px;
	color: #484848;
	text-decoration: none;
	font-family: OpenSansBold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 280px;
	display: block;
}
.barra-lateral-noticias .bloco-barra-lateral .noticias-mais-vistas ul li .informacoes .sumario * {
	margin-bottom: 0px;
}
.barra-lateral-noticias .bloco-barra-lateral .noticias-mais-vistas ul li .informacoes .continuar-lendo a {
	font-size: 14px;
	color: #305078;
	font-family: OpenSansBold;
}


/* =============================================================================================================================== */
/* =============================================================================================================================== */
/* =============================================================================================================================== */
/* =========================================================== MANUAIS =========================================================== */
/* =============================================================================================================================== */
/* =============================================================================================================================== */
/* =============================================================================================================================== */
.c-manuais .col-titulo,
.c-manuais .bloco-manual {
	margin-bottom: 20px;
}
.c-manuais .bloco-manual .bloco-manual-interno {
	/*border-bottom: 1px solid #ccc;*/
	/*padding-bottom: 20px;*/
}
.c-manuais .bloco-manual a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #00447D;
	border: 1px solid #00447D;
	border-radius: 5px;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.c-manuais .bloco-manual a:hover {
	background-color: #00447D;
	color: white;
}
.c-manuais .bloco-manual a img {
	width: 25px;
	height: auto;
	margin-right: 10px;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.c-manuais .bloco-manual a:hover img {
	filter: brightness(0) invert(100%);
}

/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =========================================================== WOOCOMMERCE =========================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */

/* === breadcrumb === */
.woocommerce .woocommerce-breadcrumb {
	margin-top: 10px;
	margin-bottom: 20px;
	position: relative;
}
.woocommerce .woocommerce-breadcrumb:after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #a9a9a9;
	bottom: -5px;
	left: 0;
	position: absolute;
}
/* === /breadcrumb === */

/* === extra options === */
.woocommerce .tm-extra-product-options .tm-extra-product-options-field li.tmcp-field-wrap {
	padding-top: 0px;
}
.woocommerce .tm-extra-product-options .tm-extra-product-options-field li.tmcp-field-wrap label {
	margin-bottom: 0px;
}
.woocommerce .tm-extra-product-options-totals.tm-custom-price-totals dd.tm-final-totals {
	font-size: 34px;
	font-family: OpenSansBold;
}
.woocommerce .tm-extra-product-options-totals.tm-custom-price-totals dt.tm-final-totals {
	font-size: 17px;
	color: #00447d;
	margin-bottom: -10px;
}
.woocommerce .tm-extra-product-options-totals.tm-custom-price-totals dd.tm-final-totals span.price.amount.final {
	color: #00447d;
}
/* === /extra options === */

/* === galeria interna produto === */
@media (min-width: 992px) {
	.woocommerce .galeria-imagens-produto {
		width: 49% !important;
	}
	.woocommerce .summary.entry-summary {
		width: 49% !important;
	}
}
@media (max-width: 992px) {
	.woocommerce .galeria-imagens-produto {
		width: 100% !important;
	}
	.woocommerce .summary.entry-summary {
		width: 100% !important;
	}
}
.woocommerce .galeria-imagens-produto {
	display: flex;
	align-items: flex-start;
	flex-direction: row-reverse;
}
.woocommerce .galeria-imagens-produto .galeria-maior {
	width: 85%;
	display: inline-block;
	float: right;
	position: relative;
}
.woocommerce .galeria-imagens-produto .galeria-maior .bloco-imagem-maior {
	border: 0px;
	outline: none;
	height: 500px;
	padding: 5px;
}
.woocommerce .galeria-imagens-produto .galeria-maior .bloco-imagem-maior .bloco-imagem-maior-interno {
	border: 1px solid #e6e6e6;
	padding: 5px;
}
.woocommerce .galeria-imagens-produto .galeria-maior .bloco-imagem-maior img {
	object-fit: cover;
	object-position: center;
}

.woocommerce .galeria-imagens-produto .galeria-menor {
	width: 15%;
	display: inline-block;
	float: left;
}
.woocommerce .galeria-imagens-produto .galeria-menor .bloco-imagem-menor {
	border: 0px;
	outline: none;
	height: 100px;
	padding: 5px;
	opacity: 0.2;
}
.woocommerce .galeria-imagens-produto .galeria-menor .bloco-imagem-menor-interno {
	cursor: pointer;
}
.woocommerce .galeria-imagens-produto .galeria-menor .bloco-imagem-menor.slick-active.slick-center,
.woocommerce .galeria-imagens-produto .galeria-menor .bloco-imagem-menor.slick-active.slick-current {
	opacity: 1;
}
.woocommerce .galeria-imagens-produto .galeria-menor .bloco-imagem-menor .bloco-imagem-menor-interno {
	border: 1px solid #e6e6e6;
	padding: 5px;
}
.woocommerce .galeria-imagens-produto .galeria-menor .bloco-imagem-menor img {
	object-fit: cover;
	object-position: center;
}
/* === /galeria interna produto === */

/* === interna produto === */
.woocommerce .summary.entry-summary .product_title.entry-title {
	font-size: 20px;
	color: #262626;
	margin-bottom: 0px;	
}
.woocommerce .summary.entry-summary .codigo-produto {
	position: relative;
	margin-bottom: 20px;
}
.woocommerce .summary.entry-summary .codigo-produto:after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #cccccc;
}
.woocommerce .summary.entry-summary p.price.price-single-product,
.woocommerce .summary.entry-summary span.price.price-single-product {
	line-height: 30px;
}
.woocommerce .summary.entry-summary p.price del,
.woocommerce .summary.entry-summary span.price del {
	opacity: 1;
	color: #ccc !important;
}
.woocommerce .summary.entry-summary p.price del span.amount,
.woocommerce .summary.entry-summary span.price del span.amount {
	color: #ccc !important;
	font-size: 22px;
}
.woocommerce .summary.entry-summary p.price ins,
.woocommerce .summary.entry-summary span.price ins {
	display: block;
	text-decoration: none;
}
.woocommerce .summary.entry-summary p.price ins span.woocommerce-Price-amount,
.woocommerce .summary.entry-summary span.price ins span.woocommerce-Price-amount,
.woocommerce .summary.entry-summary p.price span.woocommerce-Price-amount,
.woocommerce .summary.entry-summary span.price span.woocommerce-Price-amount {
	font-size: 34px;
	font-family: OpenSansBold;
	color: #00447d;
}
.woocommerce .summary.entry-summary .woocommerce-product-details__short-description * {
	margin-bottom: 0px;
}
.woocommerce .summary.entry-summary .woocommerce-product-details__short-description {
	margin-bottom: 20px;
}
.woocommerce div.product form.cart .button {
	background-color: #F9BE00;
	border-radius: 0px;
	font-size: 20px;
	text-transform: uppercase;
	padding: 12px 50px;
	padding-right: 70px;
	color: #262626;
	background-image: url(img/icone-botao-comprar.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center right 35px;
}
.woocommerce div.product form.cart .quantity .input-text.qty.text {
	height: 43px;
	padding: 0px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0px;
	margin-bottom: 0px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background-color: transparent;
	border: 0px;
	border-radius: 0px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-size: 17px;
	text-transform: uppercase;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background-color: #e6e6e6;
}

.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel {
	padding: 15px;
	background-color: #e6e6e6;
}
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel .yikes-custom-woo-tab-title,
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel .titulo-principal-aba {
	margin-bottom: 20px;
	text-transform: uppercase;
}

section.up-sells.upsells.products .container-titulo,
section.related.products .container-titulo {
	position: relative;
	margin-bottom: 10px;
}
section.up-sells.upsells.products .container-titulo:after,
section.related.products .container-titulo:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #ccc;
	bottom: 0;
	left: 0;
	z-index: -1;
}
section.up-sells.upsells.products .container-titulo .titulo-veja-tambem,
section.related.products .container-titulo .titulo-veja-tambem {
	display: inline-block;
	font-size: 20px;
	padding: 10px 15px;
	border: 1px solid #ccc;
	border-bottom: 0px;
	margin-bottom: 0px;
	background-color: white;
}
@media (min-width: 992px) {
	section.up-sells.upsells.products ul.products,
	section.related.products ul.products {
		margin-left: -5px;
		margin-right: -5px;
	}
}
/* === /interna produto === */

/* === barra lateral === */
.c-pagina-loja .r-pagina-loja .col-pagina-loja {
	display: flex;
	flex-direction: row-reverse;
	padding-top: 30px;
	padding-bottom: 30px;
}
.c-pagina-loja .r-pagina-loja .col-pagina-loja div.content-area {
	width: 75%;
}
.c-pagina-loja .r-pagina-loja .col-pagina-loja div:last-child {
	width: 25%;
}
.c-pagina-loja .r-pagina-loja .col-pagina-loja .custom-html-widget,
.c-pagina-loja .r-pagina-loja .col-pagina-loja .custom-html-widget div {
	width: 100% !important;
}
@media (min-width: 992px) {
	.c-pagina-loja .r-pagina-loja .col-pagina-loja div.content-area {
		padding-left: 10px;
	}
	.c-pagina-loja .r-pagina-loja .col-pagina-loja div:last-child {
		padding-right: 10px;
	}
	.c-pagina-loja .r-pagina-loja .col-pagina-loja .custom-html-widget,
	.c-pagina-loja .r-pagina-loja .col-pagina-loja .custom-html-widget div {
		padding-right: 0px;
	}
}
@media (max-width: 992px) {
	.c-pagina-loja .r-pagina-loja .col-pagina-loja {
		display: flex;
		flex-direction: column-reverse;
	}
	.c-pagina-loja .r-pagina-loja .col-pagina-loja div.content-area {
		width: 100%;
	}
	.c-pagina-loja .r-pagina-loja .col-pagina-loja div:last-child {
		width: 100%;
	}
}

.filtro-fundo .filtro-titulo {
	padding: 10px;
	background-color: #00447d;
	color: white;
	border-radius: 5px 5px 0px 0px;
}
.filtro-fundo .filtro-titulo .texto {
	margin-bottom: 0px;
}
.filtro-fundo .custom-control label.custom-control-label:before,
.filtro-fundo .custom-control label.custom-control-label:after {
	top: 4px;
	cursor: pointer;
}
.filtro-fundo .filtro button.botao-titulo {
	background-color: #666666;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	width: 100%;
	text-align: left;
	font-size: 20px;
	color: white;
}
.filtro-fundo .filtro ul.lista-filtro {
	list-style: none;
	margin-bottom: 0px;
}
.filtro-fundo .filtro ul.lista-filtro label.custom-control-label,
.filtro-fundo .filtro ul.lista-filtro button.btn {
	background-color: transparent;
	border: 0px;
	box-shadow: none;
	color: #333333;
	padding: 0px;
	cursor: pointer;
}
.filtro-fundo .filtro ul.lista-filtro.nivel-pai {
	padding: 0px;
	padding: 10px;
	background-color: #e6e6e6;
}
.filtro-fundo .filtro ul.lista-filtro.nivel-pai label.custom-control-label,
.filtro-fundo .filtro ul.lista-filtro.nivel-pai button.btn {
	font-family: OpenSansBold;
	text-transform: uppercase;
}
.filtro-fundo .filtro ul.lista-filtro.nivel-filho {
	padding-left: 25px;
}
.filtro-fundo .filtro ul.lista-filtro.nivel-filho label.custom-control-label,
.filtro-fundo .filtro ul.lista-filtro.nivel-filho button.btn {
	font-family: OpenSans;
	text-transform: inherit;
}
.filtro-fundo .filtro ul.lista-filtro.nivel-filho button.btn {
	text-align: left;
}
/* === /barra lateral === */

/* === bloco produto === */
.woocommerce ul.products.columns-2 .product {
	width: 50% !important;
}
.woocommerce ul.products.columns-3 .product {
	width: 33.3333333333% !important;
}
.woocommerce ul.products.columns-4 .product {
	width: 25% !important;
}
.woocommerce ul.products.columns-5 .product {
	width: 20% !important;
}
@media (max-width: 992px) {
	.woocommerce ul.products.columns-2 .product {
		width: 50% !important;
	}
	.woocommerce ul.products.columns-3 .product {
		width: 50% !important;
	}
	.woocommerce ul.products.columns-4 .product {
		width: 50% !important;
	}
	.woocommerce ul.products.columns-5 .product {
		width: 50% !important;
	}
}
@media (max-width: 600px) {
	.woocommerce ul.products.columns-2 .product {
		width: 100% !important;
	}
	.woocommerce ul.products.columns-3 .product {
		width: 100% !important;
	}
	.woocommerce ul.products.columns-4 .product {
		width: 100% !important;
	}
	.woocommerce ul.products.columns-5 .product {
		width: 100% !important;
	}
}
.woocommerce ul.products li.product {
	margin: 0px !important;
	padding: 5px !important;
	margin-bottom: 10px !important;
}
.woocommerce ul.products li.product .internal-product-wrap {
	border: 1px solid #ccc;
	padding: 10px;
	position: relative;
	padding-bottom: 45px;
	width: 100%;
	position: relative;
}
.woocommerce ul.products li.product .internal-product-wrap:hover {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	-webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);
}
.woocommerce ul.products li.product .internal-product-wrap span.label-lancamento {
	font-weight: bold;
	background-color: #f2cc34;
	color: black;
	padding: 5px 10px;
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 0;
	text-transform: uppercase;
	z-index: 2;
}
.woocommerce ul.products li.product .internal-product-wrap img.attachment-woocommerce_thumbnail {
	height: 250px;
	width: 100%;
	object-fit: scale-down;
	object-position: center;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.woocommerce ul.products li.product .internal-product-wrap:hover img.attachment-woocommerce_thumbnail {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	z-index: 1;
}
.woocommerce ul.products li.product .internal-product-wrap .woocommerce-loop-product__title {
	font-size: 15px;
	color: #262626;
	padding: 0px;
}
.woocommerce ul.products li.product .internal-product-wrap span.price,
.woocommerce ul.products li.product .internal-product-wrap p.price {
	line-height: 23px;
	margin-top: 5px;
	display: flex;
	align-items: baseline;
	flex-direction: column;
	justify-content: center;
}
.woocommerce ul.products li.product .internal-product-wrap span.price ins,
.woocommerce ul.products li.product .internal-product-wrap p.price ins {
	text-decoration: none;
}
.woocommerce ul.products li.product .internal-product-wrap span.price ins span.amount,
.woocommerce ul.products li.product .internal-product-wrap p.price ins span.amount,
.woocommerce ul.products li.product .internal-product-wrap span.price span.amount,
.woocommerce ul.products li.product .internal-product-wrap p.price span.amount {
	display: block !important;
	font-size: 28px;
	color: #004280;
	font-family: OpenSansBold;
}
.woocommerce ul.products li.product .internal-product-wrap span.price del,
.woocommerce ul.products li.product .internal-product-wrap p.price del {
	display: block !important;
}
.woocommerce ul.products li.product .internal-product-wrap span.price del span.amount,
.woocommerce ul.products li.product .internal-product-wrap p.price del span.amount {
	display: block !important;
	font-size: 14px;
	color: #808080;
	font-family: OpenSansBold;
}
.woocommerce ul.products li.product .internal-product-wrap a.botao-comprar-produto {
	/*
	display: block;
	width: 100%;
	background-color: #666666;
	color: white;
	padding: 7px 10px;
	height: 35px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	*/
}



.woocommerce ul.products li.product .internal-product-wrap a.botao-comprar-produto {
	display: block;
	width: 100%;
	height: 35px;
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.woocommerce ul.products li.product .internal-product-wrap a.botao-comprar-produto span.primeiro,
.woocommerce ul.products li.product .internal-product-wrap a.botao-comprar-produto span.segundo {
	display: block;
	width: 100%;
	height: 35px;
	padding: 7px 10px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.woocommerce ul.products li.product .internal-product-wrap:hover a.botao-comprar-produto span.primeiro,
.woocommerce ul.products li.product .internal-product-wrap:hover a.botao-comprar-produto span.segundo {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}
.woocommerce ul.products li.product .internal-product-wrap a.botao-comprar-produto span.primeiro {
	background-color: #666666;
	color: white;
}
.woocommerce ul.products li.product .internal-product-wrap a.botao-comprar-produto span.segundo {
	background-color: #f2cc34;
	color: #262626;
}
/* === /bloco produto === */

/* === paginacao === */
.woocommerce nav.woocommerce-pagination ul.page-numbers{
	border: 0px;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li {
	margin-right: 5px;
	border: 0px;
	padding: 5px;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li:last-child {
	margin-right: 0px;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li a,
.woocommerce nav.woocommerce-pagination ul.page-numbers li span {
	color: black;
	background-color: #e0e0e0;
	min-width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li a:hover,
.woocommerce nav.woocommerce-pagination ul.page-numbers li span:hover {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li a.current,
.woocommerce nav.woocommerce-pagination ul.page-numbers li span.current {
	color: white;
	background-color: #666666;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li a.next,
.woocommerce nav.woocommerce-pagination ul.page-numbers li span.next,
.woocommerce nav.woocommerce-pagination ul.page-numbers li a.prev,
.woocommerce nav.woocommerce-pagination ul.page-numbers li span.prev {
	background-color: transparent;
	border: 1px solid black;
}
/* === /paginacao === */

/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =========================================================== MINHA CONTA =========================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* === login === */
.botao-login button.woocommerce-button {
	background-color: #4d4d4d;
	border: 0px;
	border-radius: 0px;
	padding: 10px 20px;
	font-weight: bold;
	color: white;
}
#customer_login {
	margin: 0px -15px;
}
#customer_login .col-1,
#customer_login .col-2 {
	max-width: unset;
	width: 49%;	
}
#customer_login .woocommerce-form {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}
#customer_login .woocommerce-form.woocommerce-form-login .botao-login {
	display: block;
	width: 100%;
}
#customer_login .woocommerce-form.woocommerce-form-login p.woocommerce-LostPassword.lost_password {
	margin-bottom: 0px;
}

/* === minha conta === */
.cf-minha-conta {
	padding-top: 30px;
	padding-top: 20px;
}
.cf-minha-conta .col-1,
.cf-minha-conta .col-2,
.cf-minha-conta .col-3,
.cf-minha-conta .col-4,
.cf-minha-conta .col-5 {
	max-width: unset;
}
.cf-minha-conta h1,
.cf-minha-conta h2,
.cf-minha-conta h3,
.cf-minha-conta h4,
.cf-minha-conta h5 {
	color: #00447d;
	border-bottom: 1px solid #a9a9a9;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-transform: uppercase;
}
.cf-minha-conta .woocommerce-input-wrapper {
	width: 100%;
}
.cf-minha-conta nav.woocommerce-MyAccount-navigation ul {
	margin-bottom: 0px;
	list-style: none;
	padding: 0px;
}
.cf-minha-conta nav.woocommerce-MyAccount-navigation ul li {
	margin-bottom: 5px;
}
.cf-minha-conta nav.woocommerce-MyAccount-navigation ul li:last-child {
	margin-bottom: 0px;
}
.cf-minha-conta nav.woocommerce-MyAccount-navigation ul li a {
	width: 100%;
	display: block;
	padding: 10px;
	text-decoration: none;
	background-color: rgba(240,240,240,1);
	color: #4c4c4c;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.cf-minha-conta nav.woocommerce-MyAccount-navigation ul li a:hover {
	background-color: rgba(230,230,230,1);
	padding-left: 15px;
}

/* ================================================================================================================================ */
/* ================================================================================================================================ */
/* ================================================================================================================================ */
/* =========================================================== CARRINHO =========================================================== */
/* ================================================================================================================================ */
/* ================================================================================================================================ */
/* ================================================================================================================================ */
.cf-carrinho a.checkout-button {
	background-color: #00447D !important;
}

/* ================================================================================================================================ */
/* ================================================================================================================================ */
/* ================================================================================================================================ */
/* =========================================================== CHECKOUT =========================================================== */
/* ================================================================================================================================ */
/* ================================================================================================================================ */
/* ================================================================================================================================ */
.cf-checkout .col-1,
.cf-checkout .col-2,
.cf-checkout .col-3,
.cf-checkout .col-4,
.cf-checkout .col-5 {
	max-width: unset;
}
.cf-checkout h1,
.cf-checkout h2,
.cf-checkout h3,
.cf-checkout h4,
.cf-checkout h5 {
	color: #00447d;
	border-bottom: 1px solid #a9a9a9;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-transform: uppercase;
}
.cf-checkout .woocommerce-input-wrapper {
	width: 100%;
}
#customer_details .col-1,
#customer_details .col-2 {
	width: 49%;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0px;
	border-radius: 0px;
	padding-bottom: 15px;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}

/* ============================================================================================================================== */
/* ============================================================================================================================== */
/* ============================================================================================================================== */
/* =========================================================== RODAPE =========================================================== */
/* ============================================================================================================================== */
/* ============================================================================================================================== */
/* ============================================================================================================================== */

/* === acesso rapido === */
.cf-acesso-rapido {
	background: #cccccc;
	position: relative;
	margin-top: 45px;
}
.cf-acesso-rapido .c-acesso-rapido .r-acesso-rapido {
	position: relative;
	padding-top: 20px;
}
.cf-acesso-rapido .c-acesso-rapido .r-botao-acesso-rapido {
	position: absolute;
	top: -43px;
}
.cf-acesso-rapido .c-acesso-rapido .r-botao-acesso-rapido .aba-acesso-rapido p {
	font-size: 16px;
	margin-bottom: 0px;
	display: inline-block;
	padding: 10px;
	padding-right: 35px;
	background: #cccccc;
	font-weight: bold;
	position: relative;
	cursor: pointer;
	color: #262626;
}
.cf-acesso-rapido .c-acesso-rapido .r-botao-acesso-rapido .aba-acesso-rapido p span.texto-acesso-rapido {
	font-size: 14px;
	margin-left: 5px;
	font-weight: normal;
}
.cf-acesso-rapido .c-acesso-rapido .r-botao-acesso-rapido .aba-acesso-rapido p span.texto-acesso-rapido:before,
.cf-acesso-rapido .c-acesso-rapido .r-botao-acesso-rapido .aba-acesso-rapido p span.texto-acesso-rapido:after {
	content: '';
	width: 10px;
	height: 10px;
	border-right: 2px solid #262626;
	border-bottom: 2px solid #262626;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: auto;
	margin: auto;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cf-acesso-rapido .c-acesso-rapido .r-botao-acesso-rapido .aba-acesso-rapido p.collapsed span.texto-acesso-rapido:before,
.cf-acesso-rapido .c-acesso-rapido .r-botao-acesso-rapido .aba-acesso-rapido p.collapsed span.texto-acesso-rapido:after {
	content: '';
	width: 10px;
	height: 10px;
	border-right: 2px solid #262626;
	border-bottom: 2px solid #262626;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: auto;
	margin: auto;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.cf-acesso-rapido .c-acesso-rapido .r-botao-acesso-rapido .aba-acesso-rapido p span.texto-acesso-rapido:before {
	right: 13px;
	bottom: 17px;
}
.cf-acesso-rapido .c-acesso-rapido .r-botao-acesso-rapido .aba-acesso-rapido p.collapsed span.texto-acesso-rapido:before {
	right: 21px;
}
.cf-acesso-rapido .c-acesso-rapido .r-botao-acesso-rapido .aba-acesso-rapido p span.texto-acesso-rapido:after,
.cf-acesso-rapido .c-acesso-rapido .r-botao-acesso-rapido .aba-acesso-rapido p.collapsed span.texto-acesso-rapido:after {
	right: 13px;
}

.cf-acesso-rapido .c-acesso-rapido .r-acesso-rapido .categorias {
	flex: 0 0 20%;
	max-width: 20%;
	margin-bottom: 20px;
}
.cf-acesso-rapido .c-acesso-rapido .r-acesso-rapido .categorias a {
	color: #262626;
}
.cf-acesso-rapido .c-acesso-rapido .r-acesso-rapido .categorias .titulo-categoria a {
	font-size: 14px;
	text-transform: uppercase;
}
.cf-acesso-rapido .c-acesso-rapido .r-acesso-rapido .categorias .titulo-categoria .texto {
	margin-bottom: 0px;
}
.cf-acesso-rapido .c-acesso-rapido .r-acesso-rapido .categorias .categorias-filhas ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
/* === /acesso rapido === */

.cf-widgets {
	background-color: #002e55;
	color: #cccccc;
	font-family: OpenSansLight;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	z-index: 2;
}
.cf-widgets .c-widgets .r-widgets .col-rodape:last-child {
	border-right: 0px;
}
.cf-widgets .c-widgets .r-widgets .col-rodape .col-rodape-interno .titulo .texto {
	font-family: OpenSansBold;
	margin-bottom: 5px;
	font-size: 16px;
}
.cf-widgets .c-widgets .r-widgets .col-rodape .col-rodape-interno .atendimento .conteudo a {
	color: inherit;
}
.cf-widgets .c-widgets .r-widgets .col-rodape .col-rodape-interno .conteudo ul {
	padding: 0px;
	list-style: none;
}
.cf-widgets .c-widgets .r-widgets .col-rodape .col-rodape-interno .conteudo ul li a{
	color: inherit;
}
.cf-widgets .c-widgets .r-widgets .col-rodape .col-rodape-interno .atendimento .conteudo .telefone .telefone-interno {
	display: flex;
	align-items: center;
	justify-content: center;
}
.cf-widgets .c-widgets .r-widgets .col-rodape .col-rodape-interno .atendimento .conteudo .telefone:first-child {
	margin-right: 5px;
	padding-right: 5px;
	border-right: 1px solid #cccccc;
}
.cf-widgets .c-widgets .r-widgets .col-rodape .col-rodape-interno .atendimento .conteudo .telefone img {
	width: auto;
	height: 18px;
	margin-left: 5px;
}
.cf-widgets .c-widgets .r-widgets .col-rodape .col-rodape-interno .endereco {
	margin-top: 10px;
}
.cf-widgets .c-widgets .r-widgets .col-rodape .col-rodape-interno .endereco .conteudo p {
	margin-bottom: 0px;
}
@media (min-width: 992px) {
	.cf-widgets .c-widgets .r-widgets .col-rodape {
		border-right: 1px solid #616161;
	}
	.cf-widgets .c-widgets .r-widgets .col-rodape.col-rodape-contato {
		flex: 0 0 27%;
		max-width: 27% !important;
	}
	.cf-widgets .c-widgets .r-widgets .col-rodape.col-rodape-link-uteis {
		flex: 0 0 22%;
		max-width: 22% !important;
	}
	.cf-widgets .c-widgets .r-widgets .col-rodape.col-rodape-solucoes {
		flex: 0 0 22%;
		max-width: 22% !important;
	}
	.cf-widgets .c-widgets .r-widgets .col-rodape.col-rodape-pagamento {
		flex: 0 0 29%;
		max-width: 29% !important;
	}
}
@media (max-width: 992px) {
	.cf-widgets .c-widgets .r-widgets .col-rodape {
		text-align: center;
		margin-bottom: 10px;
	}
}

.cf-desenvolvido {
	background-color: #181818;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	position: relative;
	z-index: 2;
}
.cf-desenvolvido .c-desenvolvido .r-desenvolvido .col-desenvolvido p {
	margin-bottom: 0px;
	color: inherit;
}
.cf-desenvolvido .c-desenvolvido .r-desenvolvido .col-desenvolvido p span.bold {
	font-family: OpenSansBold;
}
.cf-desenvolvido .c-desenvolvido .r-desenvolvido .col-desenvolvido.col-desenvolvido-adict p img {
	width: 100px;
	height: auto;
	margin-left: 10px;
}
@media (min-width: 992px) {
	.cf-desenvolvido .c-desenvolvido .r-desenvolvido .col-desenvolvido.col-desenvolvido-adict {
		justify-content: flex-end;
	}
}
@media (max-width: 992px) {
	.cf-desenvolvido .c-desenvolvido .r-desenvolvido .col-desenvolvido {
		justify-content: center;
	}
}