:root {
	--cor: rgba(59,154,156,1);
	--cor-texto: rgba(45,45,45,1);
	--cinza-claro: #ccc;
	--transition: 0.2s all;
	--altura: 30px;
}

/* ========================================================== */
/* ======================= UTILIDADES ======================= */
/* ========================================================== */
.nopadding {
	padding: 0px;
}
.nomargin {
	margin: 0px;
}
.altura-total {
	height: 100%;
}
.largura-total {
	width: 100%;
}
.altura-tela-total {
	height: 100vh;
}
.largura-tela-total {
	width: 100vw;
}

/* ======================================================= */
/* ======================= COLUNAS ======================= */
/* ======================================================= */
.caixa {
	max-width: 1000px;
	margin: 0 auto;
}
.linha {
	display: flex;
	flex-wrap: wrap;
}
.linha.alinhar-centro {
	justify-content: center;
}
.linha.alinhar-final {
	justify-content: flex-end;
}

div[class^="coluna-"] {
	padding: 10px;
	position: relative;
}
.coluna-1 {
	flex: 0 0 10%;
	max-width: 10%;
}
.coluna-2 {
	flex: 0 0 20%;
	max-width: 20%;
}
.coluna-3 {
	flex: 0 0 30%;
	max-width: 30%;
}
.coluna-4 {
	flex: 0 0 40%;
	max-width: 40%;
}
.coluna-5 {
	flex: 0 0 50%;
	max-width: 50%;
}
.coluna-6 {
	flex: 0 0 60%;
	max-width: 60%;
}
.coluna-7 {
	flex: 0 0 70%;
	max-width: 70%;
}
.coluna-8 {
	flex: 0 0 80%;
	max-width: 80%;
}
.coluna-9 {
	flex: 0 0 90%;
	max-width: 90%;
}
.coluna-10 {
	flex: 0 0 100%;
	max-width: 100%;
}
.coluna-10-3 {
	flex: 0 0 33.33333333333333%;
	max-width: 33.33333333333333%;
}
.coluna-10-4 {
	flex: 0 0 25%;
	max-width: 25%;
}
.coluna-10-6 {
	flex: 0 0 16.66666666666667%;
	max-width: 16.66666666666667%;
}
.coluna-10-7 {
	flex: 0 0 14.28571428571429%;
	max-width: 14.28571428571429%;
}
.coluna-10-8 {
	flex: 0 0 12.5%;
	max-width: 12.5%;
}
.coluna-10-9 {
	flex: 0 0 11.11111111111111%;
	max-width: 11.11111111111111%;
}
@media (max-width: 992px) {
	.linha {
		/*flex-direction: column;*/
	}
	div[class^="coluna-"] {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* ====================================================== */
/* ======================= INPUTS ======================= */
/* ====================================================== */
.campo-input {
	margin: 30px 0px 10px 0px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.campo-input.desabilitado {
	border-bottom: 1px dashed #ccc;
}
.campo-input:after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	height: 2px;
	background-color: rgba(59,154,156,1);
	-webkit-transition: var(--transition);
	   -moz-transition: var(--transition);
	    -ms-transition: var(--transition);
	     -o-transition: var(--transition);
	        transition: var(--transition);
}
.campo-input.focus:after,
.campo-input.tem-conteudo:after {
	width: 100%;
}
.campo-input.tem-conteudo .limpar-input {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: rgba(150,150,150,0.1);
	cursor: pointer;
	border-radius: 100%;
}
.campo-input.tem-conteudo .limpar-input:before,
.campo-input.tem-conteudo .limpar-input:after {
	content: '';
	width: 11px;
	height: 1px;
	background-color: red;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.campo-input.tem-conteudo .limpar-input:before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.campo-input.tem-conteudo .limpar-input:after {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.campo-input label.label-input {
	position: absolute;
	bottom: 5px;
	left: 0;
	user-select: none;
	pointer-events: none;
	color: #ccc;
	z-index: 2;
	-webkit-transition: var(--transition);
	   -moz-transition: var(--transition);
	    -ms-transition: var(--transition);
	     -o-transition: var(--transition);
	        transition: var(--transition);
}
.campo-input.focus label.label-input,
.campo-input.tem-conteudo label.label-input {
	color: rgba(59,154,156,1);
	font-size: 12px;
	-webkit-transform: translateY(-25px);
	   -moz-transform: translateY(-25px);
	    -ms-transform: translateY(-25px);
	     -o-transform: translateY(-25px);
	        transform: translateY(-25px);
}
.campo-input .input {
	width: 100%;
	min-height: var(--altura);
	background-color: transparent !important;
	display: block;
	border: 0;
	outline: 0;
	font-size: 15px;
	padding: 0;
	color: rgba(45,45,45,1);
	font-family: inherit;
}

.campo-input.textarea label.label-input {
	top: 5px;
	bottom: 0
}
.campo-input.textarea .input {
	max-width: 100%;
	min-width: 100%;
	min-height: 100px;
}

.campo-input.select select.input {
	display: none;
}
.campo-input.select input.botao-select {
	width: 100%;
	min-height: var(--altura);
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: 0;
	font-size: 15px;
}
.campo-input.select .opcoes-select {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	overflow: hidden;
	background-color: white;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-webkit-transition: var(--transition);
	-moz-transition: var(--transition);
	-ms-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.campo-input.select .opcoes-select.ativo {
	/*width: 100%;*/
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}

.campo-input.select .opcoes-select ul.lista {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.campo-input.select .opcoes-select ul.lista li a {
	width: 100%;
	display: block;
	padding: 10px;
	text-decoration: none;
	color: rgba(59,154,156,1);
	-webkit-transition: .2s all;
	   -moz-transition: .2s all;
	    -ms-transition: .2s all;
	     -o-transition: .2s all;
	        transition: .2s all;
}
.campo-input.select .opcoes-select ul.lista li a:hover {
	background-color: rgba(240, 240, 240,1);
}